<h1 class="title">Custom Groups Management</h1>
  <h2 class="subtitle">
    Manage custom groups of the cluster<br>
  </h2>


<a class="button" href="/inventory/groups/add.html">
  <span class="icon is-small"><i class="fa fa-play"></i></span><span>Add custom group</span>
</a>
<a class="button" href="/inventory/groups/remove.html">
  <span class="icon is-small"><i class="fa fa-play"></i></span><span>Remove custom group</span>
</a>
<br>
<br>
<br>
{% if (custom_groups_data | length) == 0 %}
			<div class="notification is-warning">
			  <strong>No custom groups detected</strong>.<br>
			</div>
{% endif %}
{% for mg in custom_groups_data %}
<a href="/inventory/groups/manage.html?custom_group={{ mg }}">
      <div class="card">
        <div class="card-header"><p class="card-header-title">{{ mg }}</p></div>
        <div class="card-content"><div class="content">{{ custom_groups_data[mg]['description'] }}</div></div>
      </div>
      <br />
</a>
{% endfor %}
