<h1 class="title is-1">Initialize cluster inventory</h1>

  <article class="message is-warning">
    <div class="message-header"><p>Warning Message</p> </div>
    <div class="message-body">
      Initializing a cluster is a <b>destructive operation</b>.
      Do not initialize an already initialized cluster except if you wish to erase its current configuration.
    </div>
  </article>
<br>
Cluster initialization is a step by step procedure.
<br>
<br>
<a class="button is-warning" href="/initialize/step_1.html">
  <span class="icon is-small"><i class="fa fa-play"></i></span><span>Start initialization</span>
</a>
