<h1 class="title is-2">Start cluster initialization</h1>

<progress max="100" value="50" class="progress is-primary">50%</progress>

<h2 class="title is-3">Step 2 - Global equipment settings</h2>

Please review and set global equipment_profile settings for operating system.<br>
Other equipment_profile settings will be set to default. You will be able to
modify them later.
<br>
<br>
<br>
<form action="/initialize/step_3.html" method="POST">

<h3 class="subtitle is-3">Default operating system</h3>
<hr>
Please enter default cluster distribution.<br>
Supported distributions are: <b>redhat</b>, <b>centos</b>, <b>rockylinux</b>, <b>almalinux</b>, <b>oraclelinux</b>, <b>cloudlinux</b>.<br>
Supported major version are: <b>7</b> or <b>8</b>.
<br><br>
{{ field_input('Operating system distribution','ep_operating_system.distribution','rockylinux') }}
{{ field_input('Operating system distribution major version','ep_operating_system.distribution_major_version','8') }}
{{ field_input('Operating system distribution minor version (optional)','ep_operating_system.distribution_version','8.4') }}

<h3 class="subtitle is-3">Language</h3>
<hr>
{{ field_input('Keyboard layout','ep_configuration.keyboard_layout','us') }}
{{ field_input('System language (recommended to not change this default)','ep_configuration.system_language','en_US.UTF-8') }}

  <br>
  <div class="field is-grouped">
    <div class="control">
      <button class="button">Next</button>
    </div>
  </div>

</form>
