<div class="bd-docs-lead bd-theme-library">
  <section class="bd-hero is-docs">
    <div class="bd-hero-body">
      <h1 class="bd-hero-title algolia-lvl0">
        <p>Home</p>
      </h1>
      <hr class="bd-hr">
      <h2 class="bd-hero-subtitle algolia-lvl1">
        <p>Welcome on BlueBanquise WEB UI !</p>
      </h2>
    </div>
  </section>
  <div class="bd-docs-content algolia-content">
    <div class="content">
      <p> This WEB UI should allow you to manage basic elements of the BlueBanquise stack.</p>
    </div>
  </div>
