<div class="bd-docs-menu">
  <div class="bd-menu">
    <div class="bd-menu-section is-start">
      <h3 class="bd-menu-heading js-menu-heading">
        <span class="icon"><i class="fas fa-house"></i></span>
        <strong>Home</strong>
      </h3>
      <ul class="bd-menu-list js-menu-list" style="--size: 7">
        <li>
          <a class="bd-menu-link" href="/" data-current-link-id="components-navbar" data-name="Overview" data-size="0">
            <span class="bd-menu-link-name">Welcome</span>
          </a>
        </li>
          <li>
          <a class="bd-menu-link" href="/home/settings" data-current-link-id="components-navbar" data-name="Overview" data-size="0">
            <span class="bd-menu-link-name">General settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
