<h1 class="title">Network Management</h1>
  <h2 class="subtitle">
    Manage cluster networks<br>
  </h2>

  <pre>
    ___   _      ___   _      ___   _      ___   _      ___   _
 [(_)] |=|    [(_)] |=|    [(_)] |=|    [(_)] |=|    [(_)] |=|
  '-`  |_|     '-`  |_|     '-`  |_|     '-`  |_|     '-`  |_|
 /mmm/  /     /mmm/  /     /mmm/  /     /mmm/  /     /mmm/  /
       |____________|____________|____________|____________|
                             |            |            |
                         ___  \_      ___  \_      ___  \_
                        [(_)] |=|    [(_)] |=|    [(_)] |=|
                         '-`  |_|     '-`  |_|     '-`  |_|
                        /mmm/        /mmm/        /mmm/

  </pre>


<div class="box">
<p>
In this section, you will find everything network-related. 
</p>
<p>
This includes networks, nics, etc...
</p>
</div>