<h1 class="title">Network Management</h1>
  <h2 class="subtitle">
    Network delete<br>
  </h2>
  
<button class="js-modal-trigger button is-primary" data-target="modal1">
  Open Documentation
</button>


<script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>




<div class="tabs is-centered">
  <ul>
    <li><a href="/inventory/network/networks.html">List</a></li>
    <li><a href="/inventory/network/network_add.html">Add</a></li>
    <li class="is-active"><a href="/inventory/network/network_delete.html">Delete</a></li>
    <li><a href="/inventory/network/network_modify.html">Modify</a></li>
  </ul>
</div>

<div id="modal1" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p>test</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>


<form action="/inventory/network/network_delete.html" method="POST">
<ul>
{% for net in network_list %}
<div class="field">
<li>
<div class="field has-addons">
  <div class="control">
    <a class="button">
        {{net}}
    </a>
  </div>
  <div class="control">
    <button type="submit" name=network value={{net}} class="button is-danger">
      <i class='fa fa-times'></i>
    </button>
  </div>
</div>
</li>
</div>
{% endfor %}
</ul>
</form>
