<!doctype html>
<html lang="en" class="bd-theme-library">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BB UI">
    <title>
    BlueBanquise UI
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='website.min.css') }}">
    <meta name="theme-color" content="#00d1b2">
  </head>
  <body>

<!-- NAVBAR -->
<header class="bd-header">
  <a class="bulma-logo" href="/">
    <svg
      width="450mm"
      height="160mm"
      viewBox="0 0 900.0001 320"
      version="1.1"
      id="svg8"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/">
      <defs
        id="defs2" />
      <metadata
        id="metadata5">
        <rdf:RDF>
          <cc:Work
            rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type
              rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <g
        id="layer1"
        transform="translate(-121.00543,-11.365618)">
        <path
          style="fill:#108bde;fill-opacity:1;stroke:none;stroke-width:0.834796;stroke-opacity:1"
          d="m 165.58963,64.55799 -32.52499,23.96579 55.20692,166.90458 3.85163,-10.27102 14.97861,55.63486 9.41513,-48.7875 18.83027,71.4694 13.26677,-64.62202 8.55922,37.6605 12.8388,-60.34242 -4.2796,68.90162 59.05854,-216.975958 -29.1013,-32.952962 -4.2796,2.995728 -24.39375,-35.948679 -13.69474,31.241109 -5.56348,-4.279604 -10.69901,5.991446 -13.69476,-14.550655 -18.83025,19.258225 -8.55919,-4.279605 -15.83454,15.834533 z"
          id="path1162" />
        <g
          aria-label="BB-UI"
          id="text1437"
          style="font-size:119.944px;stroke-width:0.529167"
          transform="matrix(2.2036249,0,0,2.2036249,-133.58593,-2.8556536)">
          <path
            d="m 296.40767,102.72635 q 0,11.94755 -7.73076,18.27272 -7.6722,6.32517 -20.43968,6.32517 H 238.36836 V 42.051554 h 27.93618 q 13.11888,0 20.43968,5.446676 7.37936,5.388109 7.37936,17.27709 0,5.915207 -3.39685,10.541953 -3.33828,4.568179 -9.19492,7.086535 7.20366,1.991258 11.01048,7.555066 3.86538,5.563809 3.86538,12.767476 z M 249.67168,51.305046 v 27.05768 h 16.98426 q 7.26223,0 11.71328,-3.631117 4.45105,-3.631117 4.45105,-10.073422 0,-13.060309 -15.81293,-13.353141 z m 35.49124,51.538434 q 0,-7.145098 -3.92395,-11.244746 -3.86538,-4.158215 -12.47464,-4.158215 h -19.09265 v 30.688801 h 18.56555 q 8.0236,0 12.47465,-4.09965 4.45104,-4.15822 4.45104,-11.18619 z"
            style="-inkscape-font-specification:Roboto"
            id="path1545" fill="black" class="bd-svg-black"/>
          <path
            d="m 371.13841,102.72635 q 0,11.94755 -7.73077,18.27272 -7.6722,6.32517 -20.43967,6.32517 H 313.0991 V 42.051554 h 27.93618 q 13.11887,0 20.43967,5.446676 7.37937,5.388109 7.37937,17.27709 0,5.915207 -3.39685,10.541953 -3.33829,4.568179 -9.19493,7.086535 7.20367,1.991258 11.01049,7.555066 3.86538,5.563809 3.86538,12.767476 z M 324.40242,51.305046 v 27.05768 h 16.98425 q 7.26224,0 11.71329,-3.631117 4.45104,-3.631117 4.45104,-10.073422 0,-13.060309 -15.81293,-13.353141 z m 35.49124,51.538434 q 0,-7.145098 -3.92395,-11.244746 -3.86538,-4.158215 -12.47464,-4.158215 h -19.09265 v 30.688801 h 18.56555 q 8.0236,0 12.47464,-4.09965 4.45105,-4.15822 4.45105,-11.18619 z"
            style="-inkscape-font-specification:Roboto"
            id="path1547" fill="black" class="bd-svg-black"/>
          <path
            d="m 408.73804,86.620589 v 8.902094 h -28.5804 v -8.902094 z"
            style="-inkscape-font-specification:Roboto"
            id="path1549" fill="black" class="bd-svg-black"/>
          <path
            d="m 469.76424,42.051554 h 11.24475 v 57.68791 q 0,14.407336 -9.25349,21.611006 -9.25349,7.1451 -21.66957,7.1451 -13.06031,0 -21.9624,-7.1451 Q 419.28,114.1468 419.28,99.739464 v -57.68791 h 11.18618 v 57.68791 q 0,10.014856 5.38811,14.817306 5.44668,4.74387 14.23164,4.74387 8.90209,0 14.2902,-4.74387 5.38811,-4.80245 5.38811,-14.817306 z"
            style="-inkscape-font-specification:Roboto"
            id="path1551" fill="black" class="bd-svg-black"/>
          <path
            d="M 510.87784,42.051554 V 127.32424 H 499.57452 V 42.051554 Z"
            style="-inkscape-font-specification:Roboto"
            id="path1553" fill="black" class="bd-svg-black"/>
        </g>
      </g>
    </svg>
  </a>

  <nav id="js-nav" class="bd-nav navbar">

    <a class="bd-nav-item bd-theme-twitter is-twitter {% if navbar_active == 'home' %} is-active{% endif %}" title="Home" href="/">
        <span class="icon"><i class="fas fa-house"></i></span>
        <span class="bd-nav-item-name">Home</span>
    </a>

    <a class="bd-nav-item bd-theme-docs is-docs {% if navbar_active == 'inventory' %} is-active{% endif %}" title="Cluster inventory" href="/inventory">
        <span class="icon"><i class="fas fa-boxes"></i></span>
        <span class="bd-nav-item-name">Inventory</span>
    </a>

    <a class="bd-nav-item bd-theme-expo is-expo" title="Manage cluster" href="/manage">
        <span class="icon"><i class="fa-solid fa-bolt"></i></span>
        <span class="bd-nav-item-name">Manage cluster</span>
    </a>

    <a class="bd-nav-item bd-theme-love is-love" title="Monitoring" href="/monitoring">
        <span class="icon"><i class="fa-solid fa-heart"></i></span>
        <span class="bd-nav-item-name">Monitoring</span>
    </a>

    <a class="button is-primary bd-nav-mobile-download" href="https://bluebanquise.com">
      Documentation
    </a>
  </nav>

  <div class="bd-nav-themes">
    <button id="js-cycle" class="bd-cycle js-burger" data-target="js-themes">
      <div class="bd-cycles">
        <div class="bd-cycle-sun">
          <span class="icon">
            <i class="fas fa-lg fa-sun" aria-hidden="true"></i>
          </span>
        </div>

        <div class="bd-cycle-moon">
          <span class="icon">
            <i class="fas fa-lg fa-moon" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </button>

    <div id="js-themes" class="bd-nav-menu is-cycles js-menu js-themes">
      <button
        data-scheme="light"
        class="bd-nav-item is-sun"
        aria-label="Light mode"
      >
        <span class="icon">
          <i class="fas fa-sun" aria-hidden="true"></i>
        </span>
        <span>Light</span>
      </button>

      <button
        data-scheme="dark"
        class="bd-nav-item is-moon"
        aria-label="Dark mode"
      >
        <span class="icon">
          <i class="fas fa-moon" aria-hidden="true"></i>
        </span>
        <span>Dark</span>
      </button>

      <button
        data-scheme="system"
        class="bd-nav-item is-system"
        aria-label="System mode"
      >
        <span class="icon">
          <i class="fas fa-desktop" aria-hidden="true"></i>
        </span>
        <span>System</span>
      </button>
    </div>
  </div>

  <a
    class="button is-primary bd-nav-desktop-download"
    href="https://github.com/jgthms/bulma/releases/download/1.0.4/bulma-1.0.4.zip"
  >
    Download
  </a>

  <button class="navbar-burger bd-nav-burger js-burger" data-target="js-nav">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<main id="js-docs" class="bd-docs ">
    <div class="bd-docs-overlay js-toggle" data-target="js-docs"></div>

