    <div class="bd-docs-menu">
        <div class="bd-menu">
            <div class="bd-menu-section is-start">
                <h3 class="bd-menu-heading js-menu-heading">
                    <span class="icon"><i class="fas fa-server"></i></span>
                    <strong>Nodes</strong>
                </h3>
                <ul class="bd-menu-list js-menu-list" style="--size: 7">
                    <li>
                        <a class="bd-menu-link" href="/inventory/nodes/list_and_modify" data-current-link-id="components-navbar" data-name="Overview" data-size="0">
                            <span class="bd-menu-link-name">List and modify nodes</span>
                        </a>
                    </li>
                     <li>
                        <a class="bd-menu-link" href="/inventory/nodes/add" data-current-link-id="components-navbar" data-name="Overview" data-size="0">
                            <span class="bd-menu-link-name">Add node</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bd-menu-section is-features">
                <h3 class="bd-menu-heading js-menu-heading">
                    <span class="icon"><i class="fas fa-network-wired"></i></span>
                    <strong>Networks</strong>
                </h3>
                <ul class="bd-menu-list js-menu-list" style="--size: 5">
  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/features/css-variables/"
  data-current-link-id="components-navbar"
  data-name="CSS Variables"
  data-size="0"
>
  <span class="bd-menu-link-name">CSS Variables</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/features/themes/"
  data-current-link-id="components-navbar"
  data-name="Themes"
  data-size="0"
>
  <span class="bd-menu-link-name">Themes</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/features/dark-mode/"
  data-current-link-id="components-navbar"
  data-name="Dark Mode"
  data-size="0"
>
  <span class="bd-menu-link-name">Dark Mode</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/features/color-palettes/"
  data-current-link-id="components-navbar"
  data-name="Color Palettes"
  data-size="0"
>
  <span class="bd-menu-link-name">Color Palettes</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/features/skeletons/"
  data-current-link-id="components-navbar"
  data-name="Skeletons"
  data-size="0"
>
  <span class="bd-menu-link-name">Skeletons</span>

  
</a>


  
</li>

  
</ul>

  </div>

  <div class="bd-menu-section is-sass">
    <h3 class="bd-menu-heading js-menu-heading">
  
    <span class="icon">
      <i class="fab fa-sass"></i>
    </span>
  
  <strong>Sass Tools</strong>
</h3>

    

<ul class="bd-menu-list js-menu-list" style="--size: 4">
  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/sass/mixins/"
  data-current-link-id="components-navbar"
  data-name="Mixins"
  data-size="0"
>
  <span class="bd-menu-link-name">Mixins</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/sass/responsive-mixins/"
  data-current-link-id="components-navbar"
  data-name="Responsive mixins"
  data-size="0"
>
  <span class="bd-menu-link-name">Responsive mixins</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/sass/form-control-mixins/"
  data-current-link-id="components-navbar"
  data-name="Form Control mixins"
  data-size="0"
>
  <span class="bd-menu-link-name">Form Control mixins</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/sass/extends/"
  data-current-link-id="components-navbar"
  data-name="Extends"
  data-size="0"
>
  <span class="bd-menu-link-name">Extends</span>

  
</a>


  
</li>

  
</ul>

  </div>

  <div class="bd-menu-section is-custom">
    <h3 class="bd-menu-heading js-menu-heading">
  
    <span class="icon">
      <i class="fas fa-palette"></i>
    </span>
  
  <strong>Customization</strong>
</h3>

    

<ul class="bd-menu-list js-menu-list" style="--size: 5">
  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/customize/concepts/"
  data-current-link-id="components-navbar"
  data-name="Concepts"
  data-size="0"
>
  <span class="bd-menu-link-name">Concepts</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/customize/with-sass/"
  data-current-link-id="components-navbar"
  data-name="With Sass"
  data-size="0"
>
  <span class="bd-menu-link-name">With Sass</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/customize/with-modular-sass/"
  data-current-link-id="components-navbar"
  data-name="With Modular Sass"
  data-size="0"
>
  <span class="bd-menu-link-name">With Modular Sass</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/customize/with-css-variables/"
  data-current-link-id="components-navbar"
  data-name="With CSS Variables"
  data-size="0"
>
  <span class="bd-menu-link-name">With CSS Variables</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/customize/list-of-sass-variables/"
  data-current-link-id="components-navbar"
  data-name="List of Sass variables"
  data-size="0"
>
  <span class="bd-menu-link-name">List of Sass variables</span>

  
</a>


  
</li>

  
</ul>

  </div>

  <div class="bd-menu-section is-library">
    <h3 class="bd-menu-heading js-menu-heading">
  
    <span class="icon">
      <i class="fas fa-code"></i>
    </span>
  
  <strong>CSS Library</strong>
</h3>


    
    
    
    
    
    

    <ul
      id="js-library-menu"
      class="bd-menu-list bd-menu-library-list js-menu-list "
      style="
        --size: 5;
        
          --sublist-size: 10
        
      "
    >
      





<li>
  

<a
  class="
    bd-menu-link
    
      js-sublist-link
      has-sublist
    
    
  "
  href="https://bulma.io/documentation/elements/"
  data-current-link-id="components-navbar"
  data-name="Elements"
  data-size="12"
>
  <span class="bd-menu-link-name">Elements</span>

  
    <span class="icon is-small">
      <i class="fas fa-angle-right"></i>
    </span>
  
</a>


  
    <ul
      class="bd-menu-sublist "
      style="--subsize: 12"
    >
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/block/"
  data-current-link-id="components-navbar"
  data-name="Block"
  data-size=""
>
  <span class="bd-menu-link-name">Block</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/box/"
  data-current-link-id="components-navbar"
  data-name="Box"
  data-size=""
>
  <span class="bd-menu-link-name">Box</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/button/"
  data-current-link-id="components-navbar"
  data-name="Button"
  data-size=""
>
  <span class="bd-menu-link-name">Button</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/content/"
  data-current-link-id="components-navbar"
  data-name="Content"
  data-size=""
>
  <span class="bd-menu-link-name">Content</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/delete/"
  data-current-link-id="components-navbar"
  data-name="Delete"
  data-size=""
>
  <span class="bd-menu-link-name">Delete</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/icon/"
  data-current-link-id="components-navbar"
  data-name="Icon"
  data-size=""
>
  <span class="bd-menu-link-name">Icon</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/image/"
  data-current-link-id="components-navbar"
  data-name="Image"
  data-size=""
>
  <span class="bd-menu-link-name">Image</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/notification/"
  data-current-link-id="components-navbar"
  data-name="Notification"
  data-size=""
>
  <span class="bd-menu-link-name">Notification</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/progress/"
  data-current-link-id="components-navbar"
  data-name="Progress bars"
  data-size=""
>
  <span class="bd-menu-link-name">Progress bars</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/table/"
  data-current-link-id="components-navbar"
  data-name="Table"
  data-size=""
>
  <span class="bd-menu-link-name">Table</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/tag/"
  data-current-link-id="components-navbar"
  data-name="Tag"
  data-size=""
>
  <span class="bd-menu-link-name">Tag</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/elements/title/"
  data-current-link-id="components-navbar"
  data-name="Title"
  data-size=""
>
  <span class="bd-menu-link-name">Title</span>

  
</a>

        </li>
      
    </ul>
  
</li>

      





<li>
  

<a
  class="
    bd-menu-link
    
      js-sublist-link
      has-sublist
    
    
  "
  href="https://bulma.io/documentation/components/"
  data-current-link-id="components-navbar"
  data-name="Components"
  data-size="10"
>
  <span class="bd-menu-link-name">Components</span>

  
    <span class="icon is-small">
      <i class="fas fa-angle-right"></i>
    </span>
  
</a>


  
    <ul
      class="bd-menu-sublist is-open"
      style="--subsize: 10"
    >
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/breadcrumb/"
  data-current-link-id="components-navbar"
  data-name="Breadcrumb"
  data-size=""
>
  <span class="bd-menu-link-name">Breadcrumb</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/card/"
  data-current-link-id="components-navbar"
  data-name="Card"
  data-size=""
>
  <span class="bd-menu-link-name">Card</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/dropdown/"
  data-current-link-id="components-navbar"
  data-name="Dropdown"
  data-size=""
>
  <span class="bd-menu-link-name">Dropdown</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/menu/"
  data-current-link-id="components-navbar"
  data-name="Menu"
  data-size=""
>
  <span class="bd-menu-link-name">Menu</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/message/"
  data-current-link-id="components-navbar"
  data-name="Message"
  data-size=""
>
  <span class="bd-menu-link-name">Message</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/modal/"
  data-current-link-id="components-navbar"
  data-name="Modal"
  data-size=""
>
  <span class="bd-menu-link-name">Modal</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
      is-active
    
  "
  href="https://bulma.io/documentation/components/navbar/"
  data-current-link-id="components-navbar"
  data-name="Navbar"
  data-size=""
>
  <span class="bd-menu-link-name">Navbar</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/pagination/"
  data-current-link-id="components-navbar"
  data-name="Pagination"
  data-size=""
>
  <span class="bd-menu-link-name">Pagination</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/panel/"
  data-current-link-id="components-navbar"
  data-name="Panel"
  data-size=""
>
  <span class="bd-menu-link-name">Panel</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/components/tabs/"
  data-current-link-id="components-navbar"
  data-name="Tabs"
  data-size=""
>
  <span class="bd-menu-link-name">Tabs</span>

  
</a>

        </li>
      
    </ul>
  
</li>

      





<li>
  

<a
  class="
    bd-menu-link
    
      js-sublist-link
      has-sublist
    
    
  "
  href="https://bulma.io/documentation/form/"
  data-current-link-id="components-navbar"
  data-name="Form"
  data-size="7"
>
  <span class="bd-menu-link-name">Form</span>

  
    <span class="icon is-small">
      <i class="fas fa-angle-right"></i>
    </span>
  
</a>


  
    <ul
      class="bd-menu-sublist "
      style="--subsize: 7"
    >
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/general/"
  data-current-link-id="components-navbar"
  data-name="General"
  data-size=""
>
  <span class="bd-menu-link-name">General</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/input/"
  data-current-link-id="components-navbar"
  data-name="Input"
  data-size=""
>
  <span class="bd-menu-link-name">Input</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/textarea/"
  data-current-link-id="components-navbar"
  data-name="Textarea"
  data-size=""
>
  <span class="bd-menu-link-name">Textarea</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/select/"
  data-current-link-id="components-navbar"
  data-name="Select"
  data-size=""
>
  <span class="bd-menu-link-name">Select</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/checkbox/"
  data-current-link-id="components-navbar"
  data-name="Checkbox"
  data-size=""
>
  <span class="bd-menu-link-name">Checkbox</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/radio/"
  data-current-link-id="components-navbar"
  data-name="Radio"
  data-size=""
>
  <span class="bd-menu-link-name">Radio</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/form/file/"
  data-current-link-id="components-navbar"
  data-name="File"
  data-size=""
>
  <span class="bd-menu-link-name">File</span>

  
</a>

        </li>
      
    </ul>
  
</li>

      





<li>
  

<a
  class="
    bd-menu-link
    
      js-sublist-link
      has-sublist
    
    
  "
  href="https://bulma.io/documentation/columns/"
  data-current-link-id="components-navbar"
  data-name="Columns"
  data-size="6"
>
  <span class="bd-menu-link-name">Columns</span>

  
    <span class="icon is-small">
      <i class="fas fa-angle-right"></i>
    </span>
  
</a>


  
    <ul
      class="bd-menu-sublist "
      style="--subsize: 6"
    >
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/columns/basics/"
  data-current-link-id="components-navbar"
  data-name="Basics"
  data-size=""
>
  <span class="bd-menu-link-name">Basics</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/columns/sizes/"
  data-current-link-id="components-navbar"
  data-name="Sizes"
  data-size=""
>
  <span class="bd-menu-link-name">Sizes</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/columns/responsiveness/"
  data-current-link-id="components-navbar"
  data-name="Responsiveness"
  data-size=""
>
  <span class="bd-menu-link-name">Responsiveness</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/columns/nesting/"
  data-current-link-id="components-navbar"
  data-name="Nesting"
  data-size=""
>
  <span class="bd-menu-link-name">Nesting</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/columns/gap/"
  data-current-link-id="components-navbar"
  data-name="Gap"
  data-size=""
>
  <span class="bd-menu-link-name">Gap</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/columns/options/"
  data-current-link-id="components-navbar"
  data-name="Options"
  data-size=""
>
  <span class="bd-menu-link-name">Options</span>

  
</a>

        </li>
      
    </ul>
  
</li>

      





<li>
  

<a
  class="
    bd-menu-link
    
      js-sublist-link
      has-sublist
    
    
  "
  href="https://bulma.io/documentation/grid/"
  data-current-link-id="components-navbar"
  data-name="Grid"
  data-size="4"
>
  <span class="bd-menu-link-name">Grid</span>

  
    <span class="icon is-small">
      <i class="fas fa-angle-right"></i>
    </span>
  
</a>


  
    <ul
      class="bd-menu-sublist "
      style="--subsize: 4"
    >
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/grid/smart-grid/"
  data-current-link-id="components-navbar"
  data-name="Smart Grid"
  data-size=""
>
  <span class="bd-menu-link-name">Smart Grid</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/grid/fixed-grid/"
  data-current-link-id="components-navbar"
  data-name="Fixed Grid"
  data-size=""
>
  <span class="bd-menu-link-name">Fixed Grid</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/grid/grid-cells/"
  data-current-link-id="components-navbar"
  data-name="Grid Cells"
  data-size=""
>
  <span class="bd-menu-link-name">Grid Cells</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/grid/playground/"
  data-current-link-id="components-navbar"
  data-name="Playground"
  data-size=""
>
  <span class="bd-menu-link-name">Playground</span>

  
</a>

        </li>
      
    </ul>
  
</li>

      





<li>
  

<a
  class="
    bd-menu-link
    
      js-sublist-link
      has-sublist
    
    
  "
  href="https://bulma.io/documentation/layout/"
  data-current-link-id="components-navbar"
  data-name="Layout"
  data-size="6"
>
  <span class="bd-menu-link-name">Layout</span>

  
    <span class="icon is-small">
      <i class="fas fa-angle-right"></i>
    </span>
  
</a>


  
    <ul
      class="bd-menu-sublist "
      style="--subsize: 6"
    >
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/layout/container/"
  data-current-link-id="components-navbar"
  data-name="Container"
  data-size=""
>
  <span class="bd-menu-link-name">Container</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/layout/hero/"
  data-current-link-id="components-navbar"
  data-name="Hero"
  data-size=""
>
  <span class="bd-menu-link-name">Hero</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/layout/section/"
  data-current-link-id="components-navbar"
  data-name="Section"
  data-size=""
>
  <span class="bd-menu-link-name">Section</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/layout/level/"
  data-current-link-id="components-navbar"
  data-name="Level"
  data-size=""
>
  <span class="bd-menu-link-name">Level</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/layout/media-object/"
  data-current-link-id="components-navbar"
  data-name="Media Object"
  data-size=""
>
  <span class="bd-menu-link-name">Media Object</span>

  
</a>

        </li>
      
        
        <li>
          

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/layout/footer/"
  data-current-link-id="components-navbar"
  data-name="Footer"
  data-size=""
>
  <span class="bd-menu-link-name">Footer</span>

  
</a>

        </li>
      
    </ul>
  
</li>

    </ul>
  </div>

  <div class="bd-menu-section is-utilities">
    <h3 class="bd-menu-heading js-menu-heading">
  
    <span class="icon">
      <i class="fab fa-css3"></i>
    </span>
  
  <strong>CSS Helpers</strong>
</h3>

    

<ul class="bd-menu-list js-menu-list" style="--size: 7">
  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/color-helpers/"
  data-current-link-id="components-navbar"
  data-name="Color"
  data-size="0"
>
  <span class="bd-menu-link-name">Color</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/palette-helpers/"
  data-current-link-id="components-navbar"
  data-name="Color Palette"
  data-size="0"
>
  <span class="bd-menu-link-name">Color Palette</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/spacing-helpers/"
  data-current-link-id="components-navbar"
  data-name="Spacing"
  data-size="0"
>
  <span class="bd-menu-link-name">Spacing</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/typography-helpers/"
  data-current-link-id="components-navbar"
  data-name="Typography"
  data-size="0"
>
  <span class="bd-menu-link-name">Typography</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/visibility-helpers/"
  data-current-link-id="components-navbar"
  data-name="Visibility"
  data-size="0"
>
  <span class="bd-menu-link-name">Visibility</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/flexbox-helpers/"
  data-current-link-id="components-navbar"
  data-name="Flexbox"
  data-size="0"
>
  <span class="bd-menu-link-name">Flexbox</span>

  
</a>


  
</li>

  
    





<li>
  

<a
  class="
    bd-menu-link
    
    
  "
  href="https://bulma.io/documentation/helpers/other-helpers/"
  data-current-link-id="components-navbar"
  data-name="Other"
  data-size="0"
>
  <span class="bd-menu-link-name">Other</span>

  
</a>


  
</li>

  
</ul>

  </div>
</div>


  </div>
